* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

header {
    margin-top: 50px;
    background-color: lightyellow;
}

.logo {
    /*    margin-top: 50px;*/
    margin-left: 50px;
    height: 90px;
    position: absolute;
    margin-bottom: 70px;
}

.banner {
    /*    margin-top: 50px;*/
    margin-left: 400px;
    height: 90px;
    text-align: center;
}

section {
    margin-top: 200px;
}
