html,
body {
    height: 100%
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* border: 1px solid lightgray; */
}

body {
    background: url("../images/dandylion300.png") no-repeat;
    background-size: cover;
    /*    background-size: 100%;*/
    background-attachment: fixed;
}

main {
    overflow: hidden;
}

header {
    width: 100%;
    background-color: lightyellow;
    text-align: center;
}

.logo {
    height: 48px;
    margin: 8px auto;
}

.headlines {}

.headline1 {
    font-family: 'Martel', serif;
    font-size: 25px;
    font-weight: 700;
    color: darkblue;
}

.headline2 {
    display: block;
    margin-top: -9px;
    padding-bottom: 8px;
    font-family: 'Paprika', cursive;
    font-size: 20px;
    color: crimson;
}

.topnav {
    width: 100%;
    background-color: rgba(39, 112, 194, 0.62);
    /*  add display when layout is finished  */
    /*    display: none;*/
}

.topnav a {
    display: block;
    color: lightyellow;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid lightyellow;
    font-family: 'Martel', sans-serif;
}

.topnav ul {
    /*    display: inline-block;*/
    list-style: none;
    text-align: center;
    border-bottom: 1px solid lightyellow;
    text-decoration: none;
    /*    width: 95%;*/
}

.topnav li {
    display: inline-block;
}

/*
.topnav li::after {
    content: "|";
    margin-left: 5pt;
}
*/


/*
.horiz-tools {
    overflow: hidden;
    width: 100%;
    display: block;
    color: lightyellow;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid lightyellow;
    border-right: 1px solid lightyellow;
    font-family: 'Martel', sans-serif;
}
*/

.topnav-horiz {
    overflow: hidden;
    background-color: #333;
    display: none;
}

.topnav-horiz a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 11px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 1px solid lightyellow;
}

.topnav-horiz a:hover {
    background-color: green;
    color: black;
}

.topnav-horiz a.active {
    background-color: blue;
    color: white;
}

.intro {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border: 2px solid #024785;
    border-radius: 7px;
    padding: 12px;
    background-color: cornflowerblue;
    width: 95%;
    font-family: 'Martel', sans-serif;
    color: aliceblue;
    text-align: justify;
}

h3,
h4 {
    text-align: center;
}

#bars-menu .fa-bars {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    color: crimson;
}

.wrapper {
    margin-top: 40px;
    text-align: center;
}

#search-form {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: 2px solid #024785;
    border-radius: 7px;
    padding: 8px;
    background-color: cornflowerblue;
    width: 80%;
    font-family: 'Robato', sans-serif;
    color: black;
}

.instruction {
    font-size: 14px;
    font-family: 'Martel', sans-serif;
    color: aliceblue;
}

#county_drop_down {
    display: inline-block;
    margin-top: 15px;
}

.search {
    font-size: 12px;
    border: 2px solid #024785;
    border-radius: 15px;
    margin-top: 18px;
    margin-bottom: 4pt;
    padding: 3px;
    background-color: cornflowerblue;
    width: 20%;
    font-family: 'Robato', sans-serif;
    color: black;
}

.search:hover {
    background-color: 5183CC;
    font-weight: 400;
}

.legend {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    font-size: 14px;
    border: 2px solid #024785;
    border-radius: 7px;
    /*    padding: 5px;*/
    background-color: #8eb0f2;
    width: 98%;
    font-family: 'Robato', sans-serif;
    color: black;
    text-align: center;
}

.legend .table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4px;
    border-spacing: 5px;
}

.legend td {
    font-size: 11px;
    padding: 3px;
    /*    border: 1px solid red;*/
}

.results-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*    text-align: center;*/
    border: 2px solid #024785;
    border-radius: 7px;
    padding: 12px;
    background-color: cornflowerblue;
    width: 95%;
    font-family: 'Martel', sans-serif;
    color: black;
}

.results-wrapper ul {
    list-style-type: none;
}

.results-wrapper li.column {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #024785;
    border-radius: 7px;
    padding: 12px;
    background-color: #8eb0f2;
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
}

.results-wrapper li>p {
    font-size: 13pt;
    text-align: center;
}

.fa-long-arrow-right {
    color: black;
    vertical-align: bottom;
}

.fa-map-marker {
    color: red;
    vertical-align: text-top;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

footer p {
    margin-top: 25px;
    font-family: Courgette;
    font-size: 16px;
    border-top: 1px solid aliceblue;
    padding-top: 15px;
    bottom: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
}

footer li a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

footer #back-to-top .fa-caret-square-o-up {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 15px;
    color: black;
}

.show {
    display: block !important;
}


/*

@media only screen and (max-width: 1460px) {
    .headline1 {
        font-size: 50px;
    }
    .headline2 {
        font-size: 43px;
    }
}

@media only screen and (max-width: 1310px) {
    .logo {
        margin-top: 9px;
        margin-bottom: 15px;
        height: 61px;
    }
    .headline1 {
        font-size: 44px;
        margin-left: 270px;
    }
    .headline2 {
        font-size: 39px;
    }
}

@media only screen and (max-width: 1200px) {
    .logo {
        margin-top: 12px;
        height: 50px;
    }
    .intro,
    .results-wrapper {
        width: 80%;
    }
    #search-form {
        width: 60%;
    }
    .headline1 {
        font-size: 39px;
        margin-left: 263px;
    }
    .headline2 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 1130px) {
    .logo {
        margin-top: 7px;
        height: 46px;
    }
    .headline1 {
        font-size: 34px;
        margin-left: 270px;
    }
    .headline2 {
        font-size: 29px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .logo {
        margin-top: 7px;
        height: 41px;
    }
    .headline1 {
        font-size: 31px;
        margin-left: 230px;
    }
    .headline2 {
        font-size: 26px;
        margin-left: 14px;
    }
    .results-wrapper li.column {
        width: 98%;
        display: block;
    }
}

@media only screen and (max-width: 850px) {
    .logo {
        margin-top: 13px;
        height: 52px;
        margin-left: 86px;
    }
    .headline1 {
        font-size: 31px;
        margin-left: 282px;
    }
    .headline2 {
        display: block;
        font-size: 26px;
        margin-left: 270px;
        margin-top: -15pt;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        margin-top: 7px;
        height: 52px;
        margin-left: 86px;
    }
    .headline1 {
        font-size: 25px;
        margin-left: 259px;
    }
    .headline2 {
        font-size: 20px;
        margin-left: 256px;
        margin-top: -8pt;
    }
}
*/
