html,
body {
    height: 100%
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* border: 1px solid lightgray; */
}

body {
    background: url("../images/dandylion300.png") no-repeat;
    background-size: cover;
    /*    background-size: 100%;*/
    background-attachment: fixed;
}

main {
    overflow: hidden;
}

header {
    width: 100%;
    background-color: lightyellow;
    text-align: center;
}

.logo {
    height: 48px;
    margin: 8px auto;
}


/*.headlines {}*/

.headline1 {
    font-family: 'Martel', serif;
    font-size: 25px;
    font-weight: 700;
    color: darkblue;
}

.headline2 {
    display: block;
    margin-top: -9px;
    padding-bottom: 8px;
    font-family: 'Paprika', cursive;
    font-size: 20px;
    color: crimson;
}

.topnav {
    width: 100%;
    background-color: rgba(39, 112, 194, 0.62);
    /*  add display when layout is finished  */
    display: none;
}

.topnav a {
    display: block;
    color: lightyellow;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid lightyellow;
    font-family: 'Martel', sans-serif;
}

.topnav ul {
    /*    display: inline-block;*/
    list-style: none;
    text-align: center;
    border-bottom: 1px solid lightyellow;
    text-decoration: none;
    /*    width: 95%;*/
}

.topnav li {
    display: inline-block;
}

.intro {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border: 2px solid #024785;
    border-radius: 7px;
    padding: 12px;
    background-color: cornflowerblue;
    width: 95%;
    font-family: 'Martel', sans-serif;
    color: aliceblue;
    text-align: justify;
}

h3,
h4 {
    text-align: center;
}

#bars-menu .fa-bars {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    color: crimson;
}

.wrapper {
    margin-top: 40px;
    text-align: center;
}

#search-form {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: 2px solid #024785;
    border-radius: 7px;
    padding: 8px;
    background-color: cornflowerblue;
    width: 80%;
    font-family: 'Robato', sans-serif;
    color: black;
}

.instruction {
    font-size: 14px;
    font-family: 'Martel', sans-serif;
    color: aliceblue;
}

#county_drop_down {
    display: inline-block;
    margin-top: 15px;
}

.close-window {
    text-align: center;
}

.search {
    font-size: 12px;
    border: 2px solid #024785;
    border-radius: 15px;
    margin-top: 18px;
    margin-bottom: 4pt;
    padding: 3px;
    background-color: cornflowerblue;
    width: 20%;
    font-family: 'Robato', sans-serif;
    color: black;
}

.search:hover {
    background-color: 5183CC;
    font-weight: 400;
}

.legend {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    font-size: 14px;
    border: 2px solid #024785;
    border-radius: 7px;
    /*    padding: 5px;*/
    background-color: #8eb0f2;
    width: 98%;
    font-family: 'Robato', sans-serif;
    color: black;
    text-align: center;
}

.legend .table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4px;
    border-spacing: 5px;
}

.legend td {
    font-size: 11px;
    padding: 3px;
    /*    border: 1px solid red;*/
}

.results-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*    text-align: center;*/
    border: 2px solid #024785;
    border-radius: 7px;
    padding: 12px;
    background-color: cornflowerblue;
    width: 95%;
    font-family: 'Martel', sans-serif;
    color: black;
}

.results-wrapper ul {
    list-style-type: none;
}

.results-wrapper li.column {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #024785;
    border-radius: 7px;
    padding: 12px;
    background-color: #8eb0f2;
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
}

.results-wrapper li>p {
    font-size: 13pt;
    text-align: center;
}

.fa-long-arrow-right {
    color: black;
    vertical-align: bottom;
}

.fa-map-marker {
    color: red;
    vertical-align: text-top;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

footer p {
    margin-top: 25px;
    font-family: Courgette;
    font-size: 16px;
    /*    border-top: 1px solid aliceblue;*/
    padding-top: 15px;
    bottom: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
}

footer li a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

footer #back-to-top .fa-caret-square-o-up {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 15px;
    color: black;
}

.show {
    display: block !important;
}

@media only screen and (min-width: 480px) {
    .legend {
        background-color: white;
        width: 85%;
    }
}

@media only screen and (min-width: 600px) {
    #search-form {
        background-color: lightblue;
        width: 65%;
    }
    .legend {
        background-color: lightblue;
        width: 60%;
    }
    .results-wrapper {
        background-color: white;
        width: 80%;
    }
    .results-wrapper ul {
        text-align: center;
    }
    .results-wrapper li.column {
        background-color: lightblue;
        width: 85%;
    }
}

@media only screen and (min-width: 720px) {
    header {
        display: inline-block;
        text-align: left;
    }
    .logo {
        margin-top: 16px;
        margin-left: 40px;
        height: 55px;
    }
    .headlines {
        margin-top: 9px;
        padding-top: 0;
        vertical-align: top;
        display: inline-block;
    }
    .headline1 {
        font-size: 26px;
        margin-top: 13px;
        margin-left: 90px;
    }
    .headline2 {
        font-size: 23px;
        margin-left: 76px;
    }
    #search-form {
        background-color: lightsalmon;
        width: 60%;
    }
    .legend {
        background-color: lightsalmon;
        width: 55%;
    }
    .results-wrapper {
        background-color: lightsalmon;
        width: 67%;
    }
    .results-wrapper li.column {
        background-color: lightblue;
        width: 80%;
    }
}

@media only screen and (min-width: 840px) {
    .intro {
        background-color: lightcoral;
        width: 90%;
    }
    .logo {
        height 48px;
        margin-top: 12px;
    }
    .headlines {
        margin-top: 18px;
        padding-top: 0;
        display: inline-block;
    }
    .headline1 {
        font-size: 30px;
        margin-top: 13px;
        margin-left: 35px;
    }
    .headline2 {
        font-size: 25px;
        margin-left: 12px;
        display: inline-block;
    }
    #search-form {
        background-color: lightcoral;
        width: 50%;
    }
    .legend {
        background-color: lightcoral;
        width: 45%;
    }
    .results-wrapper {
        background-color: lightcoral;
        width: 60%;
    }
    .results-wrapper li.column {
        background-color: lightblue;
        width: 85%;
    }
}

@media only screen and (min-width: 960px) {
    .intro {
        background-color: lightsteelblue;
        width: 90%;
    }
    .headline1 {
        font-size: 35px;
        margin-left: 45px;
    }
    .headline2 {
        font-size: 30px;
    }
    #search-form {
        background-color: lightsteelblue;
        width: 45%;
    }
    .legend {
        background-color: lightsteelblue;
        width: 40%;
    }
    .results-wrapper {
        background-color: lightsteelblue;
        width: 50%;
    }
    .results-wrapper li.column {
        background-color: lightblue;
        width: 80%;
    }
    .topnav {
        background-color: rgba(39, 112, 194, 0.62);
        border-bottom: 1px solid lightyellow;
    }
    .topnav a {
        display: inline-block;
        color: lightyellow;
        text-align: center;
        vertical-align: middle;
        padding: 4px 18px;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Martel', sans-serif;
        list-style: none;
        border-bottom: none;
        border-right: 1px solid lightyellow;
    }
}

@media only screen and (min-width: 1024px) {
    .intro {
        background-color: lightpink;
        width: 85%;
    }
    .headlines {
        margin-top: 12px;
    }
    .headline1 {
        font-size: 40px;
        margin-left: 47px;
    }
    .headline2 {
        font-size: 34px;
    }
    #search-form {
        background-color: lightpink;
        width: 40%;
    }
    .legend {
        background-color: lightpink;
        width: 37%;
    }
    .results-wrapper {
        background-color: lightpink;
        width: 46%;
    }
    .results-wrapper li.column {
        background-color: lightblue;
        width: 78%;
    }
}

@media only screen and (min-width: 1150px) {
    /*body {
        background: url("../images/dandylion5.png") no-repeat;

        background-size: cover;
        background-attachment: fixed;
*/
    body {
        max-width: 1150px;
        margin: auto;
    }
    /*
    #bars-menu .fa-bars {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    color: crimson;
}
    */
    #bars-menu .fa-bars {
        display: inline-block;
        position: absolute;
        top: 25px;
        margin-left: 20px;
        margin-right: auto;
    }
    .intro {
        background-color: lightgreen;
        width: 85%;
    }
    .headline1 {
        font-size: 43px;
        margin-left: 45px;
    }
    .headline2 {
        font-size: 38px;
    }
    #search-form {
        background-color: lightgreen;
    }
    .legend {
        background-color: lightgreen;
    }
    .results-wrapper {
        background-color: lightgreen;
    }
    .results-wrapper li.column {
        background-color: lightgreen;
    }
}
